@import url(./reset.css);
#root {
  width: 100%;
  padding-block: 40px;
}
#root .container {
  max-width: 800px;
  width: 100%;
  margin-inline: auto;
  background: #fff;
  padding: 20px;
  border-radius: 10px;
}
#root .container #header {
  font-size: 2rem;
  font-weight: 600;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin-bottom: 20px;
}
#root .container #header .text {
  margin-right: 20px;
}
#root .container #header .input-container {
  border-bottom: 1px solid #333;
  flex-grow: 1;
  display: flex;
}
#root .container #header .input-container input {
  border: 0;
}
#root .container #header .input-container input:focus {
  outline: 0;
}
#root .container #header .input-container input[type=text] {
  flex-grow: 1;
}
#root .container #header .input-container input[type=datetime-local i] {
  font-family: "Pretendard Variable";
}
#root .container #main {
  display: flex;
  gap: 1rem;
  padding-bottom: 10px;
}
#root .container #main section {
  width: 50%;
  padding: 10px;
  border-radius: 10px;
}
#root .container #main section.todo {
  background: #ebebeb;
}
#root .container #main section.done {
  background: #dee9f4;
}
#root .container #main section dl dt {
  display: flex;
  align-items: center;
  gap: 10px;
  border-bottom: 1px solid #333;
  margin-bottom: 10px;
}
#root .container #main section dl dt h2 {
  font-size: 1.5rem;
  font-weight: 600;
}
#root .container #main section dl dd {
  font-size: 1.2rem;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  background: #fff;
  border-radius: 8px;
  margin-bottom: 0.8rem;
}
#root .container #main section dl dd .txt p.expire {
  font-size: 1rem;
  font-weight: 400;
  color: #999;
}
#root .container #main section dl dd form a {
  margin-right: 0.5rem;
  opacity: 0;
  transition: 0.3s;
}
#root .container #main section dl dd form input[type=checkbox] {
  width: 17px;
  height: 17px;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background: url(../img/circle-check-regular.svg);
  background-repeat: no-repeat;
}
#root .container #main section dl dd form input[type=checkbox]:checked {
  background: url(../img/circle-check-solid.svg);
}
#root .container #main section dl dd:hover form a {
  opacity: 1;
}
#root .container #main section dl dd:last-child {
  margin-bottom: 0;
}
#root .container #main section ul {
  display: flex;
  justify-content: center;
  margin-top: 10px;
  width: 100%;
}
#root .container #main section ul li {
  padding-inline: 2px;
}
#root .container #main section ul li a {
  display: block;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: #aaa;
  text-indent: -9999px;
  overflow: hidden;
}
#root .container #main section ul li.active a {
  background: #999;
}
#root .container #footer {
  padding-top: 8px;
  border-top: 1px solid #ccc;
  text-align: center;
}

@media all and (max-width: 570px) {
  #root .container #header .input-container input[type=datetime-local i] {
    width: 18px;
  }
  #root .container #main {
    flex-wrap: wrap;
    gap: 0;
  }
  #root .container #main section {
    width: 100%;
    margin-bottom: 10px;
  }
}